@font-face {
    font-family: futura-bold;
    src: url("FuturaPTBold.otf") format("opentype");
}

@font-face {
    font-family: futura;
    src: url("FuturaPTMedium.otf") format("opentype");
}

@font-face {
    font-family: futura-pt-book;
    src: url("FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: futura-bold-oblique;
    src: url("FuturaPTBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: futura-medium-oblique;
    src: url("FuturaPTMediumOblique.otf") format("opentype");
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;                            
}

html {
	min-height: 100%;
	position: relative;
}

body {
	overflow-x: hidden;
    margin: 0;
    width: 100%;
    font-size: 18px;
    margin:0; padding:0;
    z-index: -2;
	font-family: futura, sans-serif;
	color: #1e3264;
}

#large-white-box {
	position: absolute;
	top: -45px;
	width: 100%;
	height: 600px;
	background-color: white;
	z-index: -1;
}

#collection-component {
	padding: 50px 110px 10px 110px;
	background-color: white;
	position: relative;
	border-bottom: 24px solid white;
}

#search-results-text {
	position: absolute;
	z-index: 1;
	top: -23px;
	left: 3px;
	padding: 0px 50px 0px 60.5px;
}

#search-results-text-unsuccessful {
	position: absolute;
	text-align: center;
	font-size: 24px;
	display: none;
	width: 60%;
	left: 50%;
	margin-left: -30%;
	padding: 85px 0px 0px 0px;
	color: rgb(0,0,0,0.36);
	-webkit-background-clip: text;
}

#create-your-own {
	text-decoration: none;
	-webkit-text-fill-color: #0070c9;
	color: #0070c9;
}

#create-your-own:hover {
	text-decoration: underline;
	-webkit-text-fill-color: #0070c9;
	color: #0070c9;
}

#sorry {
	font-size: 32px;
	background: linear-gradient(145deg, #eea2a2 0%, #7ac5d8 78%, #1e3264 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shopify-buy__product__title {
	position: absolute;
	left: -100px;
	opacity: 0.5;
}

#search-field {
	display: inline-block;
	position: relative;
	padding: 11px 12px 11px 17px;
	border: none;
	width: 100%;
	border-radius: 10px;
	background: linear-gradient(145deg, rgb(255,255,255,0.55), rgb(255,255,255,0.25));
 	color: white;
 	border: none;
 	font-size: 18px;
 	font-family: futura, sans-serif;
 	outline: 0;
 }

 #whiteness {
 	height: 45px;
 	width: 100%;
 	border-radius: 10px;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	background: linear-gradient(145deg, rgb(255,255,255), rgb(255,255,255,0.15));
 	opacity: 0;
 	z-index: -1;
 	transition: opacity 0.3s ease;
 }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(0,0,0,0.3);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgb(0,0,0,0.3);
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: rgb(0,0,0,0.3);
}

#search-icon {
	background: none;
	border: none;
}

.fa-search {
	font-size: 17px;
	color: #1e3264;
	opacity: 0.9;
	position: absolute;
	top: 14px;
	right: 16px;
	cursor: pointer;
}

.shopify-buy__cart__title {
 	font-family: futura, sans-serif;
}

#fixed-blue-gradient {
	position: fixed;
	background: linear-gradient(145deg,HSL(127,72%,85%),HSL(213,93%,64%));
	width: 100%;
	height: 100vh;
	z-index: -2;
}

#logo-text {
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-top: 40px;
	font-size: 32px;
	letter-spacing: 1;
	margin-left: 62px;
	width: 0px;
	height: 0px;
	background: linear-gradient(to left, #ff0 75%, #add2ed, #ffb2ff);
	font-family: 'Josefin Sans', sans-serif;
}

.product-component {
	position: relative;
	top: -20px;
	padding: 30px; 
	background-color: white;
	width: 70.7%;
}

#banner {
	position: absolute;
	width: 100%;
}

.burger {
	-webkit-tap-highlight-color: transparent;
}

.nav-mobile a {
	-webkit-tap-highlight-color: transparent;
}

nav {
	position: absolute;
	left: 51px;
	top: 95px;
	margin-bottom: 31px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -html-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */      
}

nav>ul>li {
	display: inline;
}

li {
	display: block;
}

ul li a {
	text-decoration: none;
	color: #1e3264;
	padding-left: 12px;
    padding-right: 20px;
    font-weight: 400;
    padding-bottom: 26px;
}

.submenu {
	position: absolute;
	border-radius: 9px;
	left: -10.5px;
	z-index: 3;
	padding: 11px 0px 11px 9px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 0px 30px -5px rgb(0,0,0,0.14);
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}

.submenu a {
	font-size: 17px;
}

#submenu2 {
	left: 230px;
	top: -25px;
	width: 239px;
}

#submenu3 {
	left: 230px;
	top: -26px;
}

#submenu4 {
	left: 400px;
}

li:hover #submenu1, li:hover>#submenu2, li:hover #submenu4 {
	display: block;
	opacity: 1;
	visibility: visible;
}

.submenu a {
	padding-top: 2px;
	padding-bottom: 4px;
}

.nav-link {
	width: 195px;
	padding: 7.5px 0px 7.5px 0px;
	margin: -7.5px 0px -7.5px 0px;
	display: inline-block;
}

#sale {
	color: #f83232;
}

#sale:hover {
	color: #1e3264;
	transition: all 0.1s ease;
}

.fa-chevron-left, .fa-chevron-right {
	font-size: 12px;
}

.small-triangle {
	background-color: white;
	height: 20px;
	width: 20px;
	transform: rotate(45deg);
	position: absolute;
	top: -4px;
	left: 82px;
	z-index: -2;
}

#second-small-triangle {
	left: 36px;
}

.submenu-item {
	padding: 8px 5px 8px 1px;
}

nav a {
	opacity: 0.55;
	transition: all 0.1s ease;
}

nav a:hover {
	opacity: 1;
}

#active {
	opacity: 1;
}

.nav-mobile {
	display: none;
}

main {
	position: relative;
	top: 188px;
	background-color: white;
}

#breadcrumbs {
	position: relative;
	left: 63.5px;
	margin-bottom: 1.1rem;
}

#breadcrumbs div {
	display: inline-block;
	padding-right: 5px;
	opacity: 0.43;
	transition: all 0.1s ease;
}

#breadcrumbs .breadcrumb-links:hover {
	opacity: 1;
}

#breadcrumbs a {
	text-decoration: none;
	color: #1e3264;
}

#go-back-message {
	position: absolute;
	display: inline-block;
	top: -19px;
	left: 63.5px;
	display: none;
}

#go-back {
	text-decoration: none;
	color: #1e3264;
	font-size: 18px;
}

.fa-chevron-left {
	position: relative;
	font-size: 13px;
}

.hidden {
	display: none;
}

#page-title-1 {
	font-size: 120px;
	position: relative;
	top: -30px;
	opacity: 0.05;
	width: 100%;
	left: -300px;
	text-align: center;
	z-index: 1;
	background: linear-gradient(145deg, #eea2a2 42%, #7ac5d8 65%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: -70px;
	height: 180px;
}

#text-container {
	position: relative;
	width: 100%;
	top: -45px;
	padding-top: 22px;
	padding-bottom: 58px;
	background: rgb(237,241,243,0.8);
	margin-bottom: -40px;
}

#page-title-2 {
	font-family: futura-bold-oblique;
	font-size: 36px;
	margin-bottom: 0.875rem;
	text-align: center;
	z-index: 2;
	color: #1e3264;
}

#page-title-3 {
	line-height: 1.4;
	opacity: 0.85;
	font-weight: 400;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: #1e3264;
}

#page-title-4 {
	font-size: 34px;
	position: relative;
	top: -44px;
	text-align: center;
	z-index: 2;
	color: #1e3264;
}

#page-text {
	position: relative;
	padding-left: 63.5px;
	padding-right: 63.5px;
	line-height: 1.45;
}

#underline {
	background-color: purple;
	width: 172px;
	opacity: 0.15;
	margin-left: -85px;
	height: 25px;
	position: relative;
	top: -200px;
	left: 50%;
	display: inline-block;
	z-index: 1;
	margin-bottom: 10px;
}

.cushion-cartoon2 {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.cushion-cartoon-container {
	position: relative;
	top: -45px;
	width: 100%;
	display: flex;
}

#welcome-text {
	font-size: 28px;
	position: relative;
	top: 250px;
	padding-bottom: 25px;
	text-align: center;
}

#coverful-text {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 1.25;
	font-size: 38px;
	text-align: center;
	position: relative;
	top: 250px;
	padding-bottom: 15px;
	background: linear-gradient(145deg, #eea2a2 35%, #1e3264 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#boutique-text {
	font-size: 26px;
	text-align: center;
	position: relative;
	top: 250px;
	padding-bottom: 25px;
	font-family: futura-medium-oblique;
}

#hundreds-text {
	position: relative;
	top: 250px;
	text-align: center;
}

.cushion, .sofa {
	width: 110px;
	position: absolute;
}

.cushion1 {
	top: 500px;
	transform: rotate(-1deg);
	left: 350px;
	filter: saturate(5) hue-rotate(-50deg); 
	mix-blend-mode: overlay;
}

.sofa1 {
	top: 170px;
	width: 1400px;
	filter: brightness(0.5) invert(1);
	left: 50%;
	margin-left: -700px;
}

.sofa2 {
	top: 280px;
	width: 110px;
	left: 950px;
}

.cushion2 {
	top: 200px;
	width: 500px;
	left: 50%;
	opacity: 0.5;
	margin-left: -250px;
	filter: saturate(5) hue-rotate(80deg); 
	mix-blend-mode: overlay;
}

.cushion9 {
	top: 300px;
	width: 220px;
	transform: rotate(2deg);
	left: 500px;
	margin-right: -110px;
	filter: saturate(5) hue-rotate(80deg); 
}

#purple-circle {
	background: linear-gradient(rgb(0,0,0,0) 30%, rgb(127,140,205, 0.3));
	filter: blur(6px);
	border-radius: 50%;
	height: 300px;
	width: 300px;
	left: 50%;
	margin-left: -300px;
	top: 160px;
	position: absolute;
}

#purple-circle1 {
	background: linear-gradient(rgb(255,0,205, 0.1), rgb(0,0,0,0));
	filter: blur(6px);
	border-radius: 50%;
	height: 200px;
	width: 200px;
	left: 80%;
	margin-left: -300px;
	top: 160px;
	position: absolute;
}

#blue-circle1 {
	background: linear-gradient(rgb(0,255,205, 0.15), rgb(0,0,0,0) 50%);
	filter: blur(5px);
	border-radius: 50%;
	height: 500px;
	width: 500px;
	left: 980px;
	margin-left: -300px;
	top: 360px;
	position: absolute;
	margin-bottom: -200px
}

#blue-circle {
	background: linear-gradient(rgb(25,255,255, 0.3), rgb(0,0,0,0) 50%);
	filter: blur(3px);
	border-radius: 50%;
	height: 200px;
	width: 200px;
	left: 230px;
	top: 360px;
	position: absolute;
}

.cushion3 {
	top: 415px;
	width: 165px;
	left: 825px;
}

.sofa3 {
	top: 415px;
	width: 110px;
	left: 680px;
}

.sofa4 {
	top: 415px;
	width: 110px;
	left: 1025px;
}

#homepage-button {
	width: 280px;
	height: 50px;
	position: relative;
	display: block;
	margin-top: 30px;
	border-radius: 10px;
	background-color: rgb(0,0,0,0);
	border: 2px solid white;
	color: white;
	outline: 0;
	cursor: pointer;
	font-family: futura, sans-serif;
	transition: all 0.2s ease;
	text-align: center;
	left: 50%;
	margin-left: -140px;
	font-size: 18px;
}

#homepage-button:hover {
	background-color: white;
	color: rgb(0,0,0,0.5);
	transition: all 0.2s ease;
	box-shadow: 0px 1px 3px rgb(0,0,0,0.04);
}	

button {
	outline: 0;
}

#shipping-circle-container {
	width: 297px;
	height: 84px;
	position: absolute;
	right: 62px;
	border-radius: 23px;
	top: 30.4px;
}

#contact-circle:first-line, #shipping-circle:first-line {
	font-family: futura-bold;
}

#shipping-circle-container:after {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 1.6px;
	border-radius: 50%;
	box-shadow: 0px 5px 4px -5px rgb(0,0,100,0.2);
}

#shipping-circle-container:before {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 1.6px;
	border-radius: 50%;
	box-shadow: -0px -5px 3px -5px rgb(255,255,255,0.55);
}

#contact-circle-container {
	width: 207px;
	height: 154px;
	position: absolute;
	right: 116px;
	border-radius: 23px;
	top: 30.2px;
}

#contact-circle-container:after {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 1.6px;
	border-radius: 50%;
	box-shadow: 0px 5px 4px -5px rgb(0,0,100,0.2);
}

#contact-circle-container:before {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 1.6px;
	border-radius: 50%;
	box-shadow: -0px -5px 3px -5px rgb(255,255,255,0.55);
}

#instagram-circle-container {
	width: 207px;
	height: 84px;
	position: absolute;
	right: 161.7px;
	border-radius: 23px;
	top: 30px;
	cursor: pointer;
}

#instagram-circle-container:after {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 9px;
	border-radius: 50%;
	box-shadow: 0px 5px 4px -5px rgb(0,0,100,0.2);
}

#instagram-circle-container:before {
	content: "";
	height: 41px;
	width: 41px;
	position: absolute;
	top: 0.5px;
	right: 9px;
	border-radius: 50%;
	box-shadow: -0px -5px 3px -5px rgb(255,255,255,0.55);
}

#shipping-circle {
	top: 0px;
	right: 0px;
	line-height: 21px;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	z-index: 3;
	font-size: 16px;
	clip-path: circle(20.5px at 92.5% 25%);
	transition: clip-path 0.67s ease-in-out, background 1s ease-in-out;
	padding: 10px 0px 10px 15px;
}

#contact-circle {
	top: 0px;
	line-height: 21px;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	z-index: 2;
	font-size: 16px;
	clip-path: circle(20.5px at 89.5% 13.8%);
	padding: 10px 0px 10px 15px;
	transition: clip-path 0.67s ease-in-out, background 1s ease-in-out;
}

#instagram-circle {
	top: -3px;
	right: -12px;
	line-height: 21px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	font-size: 14.5px;
	clip-path: circle(20.5px at 80% 29%);
	padding: 10px 0px 10px 15px;
	transition: background 0.2s ease-in-out;
}

#instagram-circle:hover {
	background: rgb(255,255,255,0.4);
}

#truck {
	position: absolute;
	top: 12px;
	right: 8px;
}

#envelope {
	position: absolute;
	top: 12px;
	right: 11px;
}

#instagram {
	position: absolute;
	top: 15px;
	right: 33px;
}

.fa-envelope {
	display: inline;
	font-size: 16px;
	color: #1e3264;
	position: relative;
	right: -1.7px;
	top: -1px;
}

.fa-shipping-fast {
	font-size: 14px;
	position: relative;
	bottom: 1.6px;
	right: 0.3px;
}

.fab {
	position: relative;
	display: inline;
	font-size: 18px;
	color: #1e3264;
	right: -4px;
	top: 0.1px;
}

#shipping-circle:hover {
	clip-path: circle(200% at 89.3% 18.7%);
	opacity: 1;
}

#contact-circle:hover {
	clip-path: circle(200% at 89.3% 18.7%);
}

#new-in-container {
	background-color: #1e3264;
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 100vh;
}

#new-in-text {
	font-size: 34px;
	position: relative;
	text-align: center;
	z-index: 2;
	color: #1e3264;
}

#select-category-text {
	font-size: 32px;
	position: relative;
	top: 200px;
	padding-bottom: 25px;
	text-align: center;
}

#buttons-container {
	position: relative;
	top: 210px;
	width: 100%;
	margin: 0px;
}

.button-row-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.categories-button {
	width: 18%;
	height: 48px;
	margin: 6px;
	border-radius: 10px;
	background-color: rgb(0,0,0,0);
	border: 2px solid white;
	color: white;
	outline: 0;
	cursor: pointer;
	font-family: futura, sans-serif;
	transition: all 0.2s ease;
	text-align: center;
	font-size: 18px;
}

.categories-button:hover {
	background-color: white;
	color: rgb(0,0,0,0.5);
	transition: all 0.2s ease;
	box-shadow: 0px 1px 3px rgb(0,0,0,0.04);
}	

.categories-button:active, #homepage-button:active {
	transform: translateY(3px);
}

#home-link {
	text-decoration: none;
	color: #1e3264;
}

#shipping-page-contents {
	position: relative;
	top: -107px;
}

#page-title-5 {
	font-size: 34px;
	position: relative;
	top: 31px;
	text-align: center;
	z-index: 2;
	color: #1e3264;
}

.subheading {
	font-weight: bold;
	font-size: 17px;
}

#home-body {
	height: 100%;
}

#home-html {
	max-height: 100%;
}

#blue-circle1-container {
	width: 100%;
	background-color: rgb(0,0,0,0);
	height: 100vh;
	position: absolute;
	overflow-y: hidden;
	z-index: -2;
}

#homepage-text {
	position: relative;
	top: -20px;
	height: 0px;
}

#back-a-step {
	text-decoration: none;
	color: #1e3264;
}

#back-a-step-div:hover {
	opacity: 1;
	transition: all 0.1s ease;
}

#back-a-step-div {
	position: relative;
	top: -71px;
	left: 63.5px;
	opacity: 0.55;

}

#more-link {
	cursor: pointer;
}

.search-result {
	position: relative;
	top: -1px;
 	padding: 10px 16px;
 	z-index: 5;
 	color: white;
 	cursor: pointer;
 	display: inline;
}

#search-results {
	border-radius: 0px 0px 10px 10px;
 	-webkit-backdrop-filter: blur(60px);
	backdrop-filter: blur(60px);
	background: rgb(0,0,0,0.17);
	position: relative;
	top: -1px;
 	width: 100%;
 	z-index: 5;
 	overflow: hidden;
}

#search-bar {
	width: 38.2%;
	left: 50%;
	margin-left: -19.1%;
	position: relative;
	margin-top: -10px;
	border-radius: 10px;
}

.search-result:hover {
 	background-color: rgb(240,240,240,0.2);
 }

 #contact-link {
	text-decoration: none;
	-webkit-text-fill-color: #0070c9;
	color: #0070c9;
 }

 .fa-caret-down {
 	font-size: 12.8px;
 }

 #loading {
 	display: none;
 	position: absolute;
 	left: 50%;
 	width: 100%;
 	top: 250px;
 	margin-left: -53px;
 	z-index: -1;
 	filter: invert(1);
}

footer {
	display: none;
	position: relative;
	top: 186px;
}

#grey-part-of-footer {
	display: flex;
	background-color: rgb(237,241,243);
	line-height: 1.75;
	justify-content: center;
}

#white-part-of-footer {
	padding: 45px 0px 45px 0px;
	font-size: 14px;
	text-align: center;
	background-color: white;
	color: rgb(30,50,100,0.4);
	height: 80px;
}

.footer-column {
	padding: 60px 65px 80px 65px;
}

.footer-heading {
	color: rgb(255,169,105);
	padding-bottom: 10px;
}

#instagram-footer-icon {
	opacity: 0.6;
	margin: 0px;
	line-height: 1.75;
	font-size: 22px;
	top: -6px;
	right: 0px;
}

#instagram-footer-icon:hover {
	opacity: 1;
}

.footer-column a {
	text-decoration: none;
	color: rgb(30,50,100,0.6);
}

footer a:hover {
	color: rgb(30,50,100);
}

#email-banner {
	top: 283px;
	padding: 6px 30px;
	position: absolute;
	background-color: rgb(255,150,159);
	text-align: center;
	opacity: 1;
	color: white;
}


#white-part-of-footer a {
	text-decoration: none;
	color: rgb(30,50,100,0.4);
}

#white-part-of-footer a:hover {
	color: rgb(30,50,100);
}

#form {
	display: inline-block;
	width: 100%;
	position: relative;
	margin: 0;
	text-align: center;
}

label {
	margin-bottom: 15px;
	position: absolute;
	display: inline-block;
	left: 20%;
}

#name, #email, textarea {
	position: relative;
	height: 25px;
	margin-bottom: 10px;
	width: 33.33%;
	min-width: 250px;
	border: 1px solid #e0e0e0;
	font-size: 0.83em;
}

textarea {
	height: 150px;
}

#submit {
	background: #64d5c3;
	color: white;
	border-style: solid;
	border-color: #64d5c3;
	border-width: 2px;
	height: 40px;
	width: 100px;
	font-weight: 700;
	font-size: 14px;
	font-family: futura, sans-serif;
	text-shadow:none;
	position: relative;
	cursor: pointer;
	transition: all 200ms ease;
	box-shadow: 0px 6px 24px 0px rgb(100,213,195, 0.2);
}

#submit:hover {
	background: white;
	color: #64d5c3;
	border-color: #64d5c3;
	transition: all 200ms ease;
	box-shadow: 0px 8px 24px -9px rgb(100,213,195, 0.5);
}

#form input, textarea {
	position: relative;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.homepage-img {
	width: 100%;
	position: relative;
	left: -50px;
	top: 3px;
	mix-blend-mode: overlay;
	opacity: 1;
	transition: all 2s ease;
}

.homepage-img-container {
	top: 190px;
	right: 100px;
	width: 38.2%;
	height: 38.2%;
	position: absolute;
}

#welcome-text2 {
	font-size: 28px;
	position: relative;
	top: 250px;
	padding-bottom: 25px;
	left: -200px;
	text-align: center;
}

#coverful-text2 {
	font-family: 'Josefin Sans', sans-serif;
	left: -200px;
	font-size: 38px;
	letter-spacing: 1.25;
	text-align: center;
	position: relative;
	top: 250px;
	padding-bottom: 15px;
	background: linear-gradient(145deg, #eea2a2 35%, #1e3264 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#boutique-text2 {
	font-size: 26px;
	text-align: center;
	position: relative;
	top: 250px;
	padding-bottom: 25px;
	left: -200px;
	font-family: 
}

#hundreds-text2 {
	position: relative;
	top: 250px;
	left: -200px;
	text-align: center;
}

#homepage-text2 {
	position: relative;
	top: -20px;
	left: -20px;
	height: 0px;
}

#homepage-button2 {
	width: 210px;
	height: 50px;
	position: relative;
	display: block;
	margin-top: 30px;
	border-radius: 10px;
	background-color: rgb(0,0,0,0);
	border: 2px solid white;
	color: white;
	outline: 0;
	cursor: pointer;
	font-family: futura, sans-serif;
	transition: all 0.2s ease;
	text-align: center;
	left: 50%;
	margin-left: -105px;
}

.homepage-img2{
	left: -655px;
}

#transparent-black-rectangle {
	height: 200px;
	width: 70%;
	background: linear-gradient(to right, rgb(0,0,0,0.05), rgb(0,0,0,0));
	position: absolute;
	left: 50%;
	margin-left: -38%;
	top: 193px;
	z-index: -2;
}

#blue-rectangle {
	height: 64px;
	width: 520px;
	background-color: #1e3264;
	position: absolute;
	left: 50%;
	margin-left: -38%;
	top: 274px;
	z-index: -2;
}

#white-rectangle {
	height: 52px;
	width: 230px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -26.1%;
	top: 338px;
	z-index: -2;
}

.rainbow {
	height: 30px;
	margin: -16px 6px;
	position: relative;
	top: -8px;
}

#smiley-on-birds-page {
	height: 16px;
	color: #1e3264;
}

#smiley-on-birds-page {
	height: 16px;
	color: #1e3264;
}

p {
	font-family: futura-pt-book, sans-serif;
	font-size: 16.5px;
	line-height: 1.4;
	margin-bottom: 12px;
}

h2 {
	margin: 26px 0px 12px 0px;
	font-size: 22px;
}

.cookies-list li {
	display: list-item;
	list-style-position: inside;
	font-family: futura-pt-book, sans-serif;
}

#page-text p {
		font-size: 18px;
}

#shipping-page-contents img {
	width: 100%;
	margin-top: 28px;
}

#flex-box {
	display: flex;
}

#about-us-text {
	padding-left: 104px;
	/*width: 600px;*/
	margin-top: 40px;
	/*background-color: black;*/
	/*display: flex;*/
	/*justify-content: center;*/
}

#about-us-text img {
	width: 110px;
	margin-top: 40px;
}

#image-on-about-page {
	width: 164%;
	position: relative;
	top: -15px;
	/*background-color: green;*/
}

#shipping-page-text h3 {
	margin: 27px 0px 9px 0px;
}

#about-page-contents {
	position: relative;
	top: 23px;
}

#about-page-contents #text-container {
	height: 150px;
	padding-bottom: 0px;
	margin-bottom: -20px;
}

#leading-paragraph {
	font-family: bodoni24medium, sans-serif;
	font-size: 24px;
	line-height: 1.32;
}

#contact-page-text {
	padding: 10px 20% 15px 20%;
	line-height: 1.4;
	font-family: futura-pt-book, sans-serif;
	font-size: 18px;
}

#mobile-message {
	display: none;
}

@media (max-width: 768px) {
/*	main {
		display: none;
	}*/
	#mobile-message {
		display: block;
		position: fixed;
		background: linear-gradient(145deg,HSL(127,72%,85%),HSL(213,93%,64%));
		top: 0px;
		height: 100vh;
		width: 100vw;
		z-index: 10;
		color: #1e3264;
		font-family: futura-bold-oblique;
		font-size: 32px;
		padding: 20px;
	}
	#mobile-message .text {
		width: 100%;
		margin: 40px 0px;
	}
	#mobile-message .smiley {
		width: 100%;
		font-size: 64px;
		text-align: center;
		filter: drop-shadow(0px 40px 20px rgb(0,0,0,0.25));
	}
}